.post-card-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;


  .post-card-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;

    .post-card-wrapper {
      width: calc((100% - 40px) / 3);
      height: 250px; /* Adjust as needed */
    }
  }
}