@use '../../styles/mixins'as *;

.post-card-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;


  .post-card-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;

    .post-card-wrapper {
      width: 100%; /* Default to 1 column for small screens */
      height: 250px; /* Adjust as needed */

      @include md {
        width: calc((100% - 20px) / 2); /* 2 columns for medium screens */
      }

      @include lg {
        width: calc((100% - 40px) / 3); /* 3 columns for large screens */
      }
    }
  }
}